.input-centrado{
    text-align: center;

}

.spamId{
    display: none;
}

.container-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}